.border {
  border: 1px solid #adb5bd;
}

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.rounded {
  border-radius: 4px;
}

.loader {
  display: none;
  position: fixed;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #000;
  border-left-color: #000;
  border-bottom-color: #efefef;
  border-right-color: #efefef;
  border-radius: 50%;
  -webkit-animation: loader 400ms linear infinite;
  animation: loader 400ms linear infinite;
}

.loader.show {
  display: block;
}

#result-image {
  min-height: 100%;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
